@using (Ajax.BeginForm("Post", "Login", null, new AjaxOptions
{
    OnSuccess = "formLogin_Success(data)",
    OnFailure = "formLogin_Failure(xhr)"
}, new { id = "formLogin" }))
{
    <div class="panel panel-body login-form">
        <div class="text-center">
            <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
            <h5 class="content-group">Efetue seu Login <small class="display-block">Entre com seus dados abaixo</small></h5>
        </div>

        <div class="form-group has-feedback has-feedback-left">
            <input type="text" class="form-control" name="Email" placeholder="Usuario" maxlength="50">
            <div class="form-control-feedback">
                <i class="icon-user text-muted"></i>
            </div>
        </div>

        <div class="form-group has-feedback has-feedback-left">
            <input type="password" class="form-control" name="Senha" placeholder="Senha" maxlength="8">
            <div class="form-control-feedback"><i class="icon-lock2 text-muted"></i></div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Logar <i class="icon-circle-right2 position-right"></i></button>
        </div>

        <div class="text-center">
            <a href="#">Esqueceu sua senha?</a>
        </div>
    </div>
}

<div id="divContent"></div>
<script>

    function formLogin_Success(data) {
        $("#divContent").html(data);
    }

    function formLogin_Failure(xhr) {
        $("body").html(xhr.responseText);
    }

</script>