@model Home.Models.Dto.ChatDto
@{ Layout = null; }

@Scripts.Render("~/assets/js/SignalR")

<input type="hidden" id="nomeUsuario" value="@Model.Usuario.Nome" />
<div class="page-quick-sidebar-wrapper">
    <div class="page-quick-sidebar">
        <div class="nav-justified">
            <ul class="nav nav-tabs nav-justified">
                <li class="active">
                    <a href="#quick_sidebar_tab_1" data-toggle="tab">Chat</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active page-quick-sidebar-chat" id="quick_sidebar_tab_1">
                    <div class="page-quick-sidebar-chat-users" data-rail-color="#ddd" data-wrapper-class="page-quick-sidebar-list">
                        <ul class="media-list list-items">
                            <li class="media">
                                <div class="media-status">
                                    <span class="badge badge-success">8</span>
                                </div>
                                <img class="media-object" src="~/assets/img/placeholder.jpg" alt="...">
                                <div class="media-body">
                                    <h4 class="media-heading">Jorge Barbosa</h4>
                                    <div class="media-heading-sub">Ciencia da Computação</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="page-quick-sidebar-item">
                        <div class="page-quick-sidebar-chat-user">
                            <div class="page-quick-sidebar-nav">
                                <a href="javascript:;" class="page-quick-sidebar-back-to-list"><i class="icon-arrow-left"></i>Voltar</a>
                            </div>
                            <div class="page-quick-sidebar-chat-user-messages">
                                <div class="post out">
                                    <img class="avatar" alt="" src="~/assets/img/placeholder.jpg"/>
                                    <div class="message">
                                        <span class="arrow"></span>
                                        <a href="javascript:;" class="name">Bob Nilson</a>
                                        <span class="datetime">20:15</span>
                                        <span class="body">
                                            When could you send me the report ?
                                        </span>
                                    </div>
                                </div>
                                <div class="post in">
                                    <img class="avatar" alt="" src="~/assets/img/placeholder.jpg"/>
                                    <div class="message">
                                        <span class="arrow"></span>
                                        <a href="javascript:;" class="name">Ella Wong</a>
                                        <span class="datetime">20:15</span>
                                        <span class="body">
                                            Its almost done. I will be sending it shortly
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="page-quick-sidebar-chat-user-form">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Type a message here...">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn blue"><i class="icon-paper-clip"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    
    $(function () {
        
        // div que engloba chat
        //var wrapperChat = wrapper.find('.page-quick-sidebar-chat');

        //// Declarando um proxy de referencia ao Hub
        //var chatHub = $.connection.chat;

        //// Criando a função que será chamada pelo Hub para distribuir as mensagens aos clientes.
        //// Por convenção as chamadas aos métodos são feitas em "camelCase"
        //chatHub.client.transmitirMensagem = function (apelido, msg) {

        //    // Area do chat
        //    var chatContainer = wrapperChat.find(".page-quick-sidebar-chat-user-messages");

        //    // Publicando a mensagem no chat
        //    chatContainer.html(chatContainer.html() + "<b>" + apelido + "</b>: " + msg + "<br />");
        //};

        //chatHub.publicarMensagem = function (apelido, msg) {
        //    var chatWin = $("#chatWindow");
        //    chatWin.html(chatWin.html() + "<b>" + apelido + "</b>: " + msg + "<br />");
        //};
        //$.connection.hub.start();
        //$(document).keypress(function (e) {
        //    if (e.which == 13) {
        //        chatHub.enviarMensagem($("#apelido").val(), $("#mensagem").val());
        //        $("#mensagem").val("");
        //    }
        //});
    });

</script>