@model Home.Models.Dto.ChatDto
@{ Layout = null; }

@Scripts.Render("~/assets/js/SignalR")
<script src="/signalr/hubs" type="text/javascript"></script>

<input type="hidden" id="nomeUsuario" value="@Model.Usuario.Nome" />
<div class="page-quick-sidebar-wrapper">
    <div class="page-quick-sidebar">
        <div class="nav-justified">
            <ul class="nav nav-tabs nav-justified">
                <li class="active">
                    <a href="#quick_sidebar_tab_1" data-toggle="tab">Chat</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active page-quick-sidebar-chat" id="quick_sidebar_tab_1">
                    <div class="page-quick-sidebar-chat-users" data-rail-color="#ddd" data-wrapper-class="page-quick-sidebar-list">
                        <ul class="media-list list-items">
                            <li class="media">
                                <div class="media-status">
                                    <span class="badge badge-success">8</span>
                                </div>
                                <img class="media-object" src="~/assets/img/placeholder.jpg" alt="...">
                                <div class="media-body">
                                    <h4 class="media-heading">Jorge Barbosa</h4>
                                    <div class="media-heading-sub">Ciencia da Computação</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="page-quick-sidebar-item">
                        <div class="page-quick-sidebar-chat-user">
                            <div class="page-quick-sidebar-nav">
                                <a href="javascript:;" class="page-quick-sidebar-back-to-list"><i class="icon-arrow-left"></i>Voltar</a>
                            </div>
                            <div class="page-quick-sidebar-chat-user-messages">
                                <div class="post out">
                                    <img class="avatar" alt="" src="~/assets/img/placeholder.jpg" />
                                    <div class="message">
                                        <span class="arrow"></span>
                                        <a href="javascript:;" class="name">Bob Nilson</a>
                                        <span class="datetime">20:15</span>
                                        <span class="body">
                                            When could you send me the report ?
                                        </span>
                                    </div>
                                </div>
                                <div class="post in">
                                    <img class="avatar" alt="" src="~/assets/img/placeholder.jpg" />
                                    <div class="message">
                                        <span class="arrow"></span>
                                        <a href="javascript:;" class="name">Ella Wong</a>
                                        <span class="datetime">20:15</span>
                                        <span class="body">
                                            Its almost done. I will be sending it shortly
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="page-quick-sidebar-chat-user-form">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Type a message here...">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn blue"><i class="icon-paper-clip"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(function () {

        // Declarando um proxy de referencia ao Hub
        var chatHub = $.connection.chat;

        var wrapper = $('.page-quick-sidebar-wrapper');
        var wrapperChat = wrapper.find('.page-quick-sidebar-chat');

        var initChatSlimScroll = (function slim() {
            var chatUsers = wrapper.find('.page-quick-sidebar-chat-users');
            var chatUsersHeight = wrapper.height() - wrapper.find('.nav-justified > .nav-tabs').outerHeight();

            // chat user list
            Metronic.destroySlimScroll(chatUsers);
            chatUsers.attr("data-height", chatUsersHeight);
            Metronic.initSlimScroll(chatUsers);

            var chatMessages = wrapperChat.find('.page-quick-sidebar-chat-user-messages');
            var chatMessagesHeight = chatUsersHeight -
                wrapperChat.find('.page-quick-sidebar-chat-user-form').outerHeight() -
                wrapperChat.find('.page-quick-sidebar-nav').outerHeight();

            // user chat messages
            Metronic.destroySlimScroll(chatMessages);
            chatMessages.attr("data-height", chatMessagesHeight);
            Metronic.initSlimScroll(chatMessages);

            return slim;
        })();

        Metronic.addResizeHandler(initChatSlimScroll); // reinitialize on window resize

        wrapper.find('.page-quick-sidebar-chat-users .media-list > .media')
            .click(function () {
                wrapperChat.addClass("page-quick-sidebar-content-item-shown");
            });

        wrapper.find('.page-quick-sidebar-chat-user .page-quick-sidebar-back-to-list')
            .click(function () {
                wrapperChat.removeClass("page-quick-sidebar-content-item-shown");
            });

        // Criando a função que será chamada pelo Hub para distribuir as mensagens aos clientes.
        // Por convenção as chamadas aos métodos são feitas em "camelCase"
        chatHub.client.transmitirMensagem = function (e, apelido, msg) {
            e.preventDefault();

            // Area do chat
            var chatContainer = wrapperChat.find(".page-quick-sidebar-chat-user-messages");
            var input = wrapperChat.find('.page-quick-sidebar-chat-user-form .form-control');

            var text = input.val();
            if (text.length === 0) {
                return;
            }

            var preparePost = function (dir, time, name, avatar, message) {
                var tpl = '';
                tpl += '<div class="post ' + dir + '">';
                tpl += '<img class="avatar" alt="" src="' + Layout.getLayoutImgPath() + avatar + '.jpg"/>';
                tpl += '<div class="message">';
                tpl += '<span class="arrow"></span>';
                tpl += '<a href="#" class="name">' + name + '</a>&nbsp;';
                tpl += '<span class="datetime">' + time + '</span>';
                tpl += '<span class="body">';
                tpl += message;
                tpl += '</span>';
                tpl += '</div>';
                tpl += '</div>';

                return tpl;
            };

            // Preparando postagem
            var time = new Date();
            var message = preparePost('out', (time.getHours() + ':' + time.getMinutes()), apelido, 'avatar3', msg);
            message = $(message);
            chatContainer.append(message);

            var getLastPostPos = function () {
                var getLastPostPos = function () {
                    var height = 0;
                    chatContainer.find(".post")
                        .each(function () {
                            height = height + $(this).outerHeight();
                        });

                    return height;
                };

                chatContainer.slimScroll({
                    scrollTo: getLastPostPos()
                });

                input.val("");
            };

            // Iniciando a conexão com o Hub
            $.connection.hub.start();

            wrapperChat.find('.page-quick-sidebar-chat-user-form .btn')
                .click(() => {
                    chatHub.server.enviarMensagem(wrapperChat
                        .find('.page-quick-sidebar-chat-user-form .form-control')
                        .val(),
                        $("#nomeUsuario").val());
                });
            wrapperChat.find('.page-quick-sidebar-chat-user-form .form-control')
                .keypress((e) => {
                    if (e.which == 13) {
                        chatHub.server.enviarMensagem(wrapperChat
                            .find('.page-quick-sidebar-chat-user-form .form-control')
                            .val(),
                            $("#nomeUsuario").val());
                        return false;
                    }
                });
        };
    });

</script>